@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  @apply bg-background;

  box-sizing: border-box;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.card-parent > :nth-child(even) {
  flex-direction: row-reverse;

  div {
    text-align: right;
  }
}

.card-parent > :nth-child(odd) {
  @apply flex-row;
}

.section-container {
  @apply px-5 lg:px-[60px] xl:px-[100px] 2xl:max-w-[1536px] 2xl:mx-auto;
}

.header-container {
  @apply px-5 lg:px-[60px] xl:px-[80px] 2xl:max-w-[1536px] 2xl:mx-auto;
}
