@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  @apply bg-background;

  box-sizing: border-box;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.card-parent > :nth-child(even) {
  @apply flex-row-reverse;
}

.card-parent > :nth-child(odd) {
  @apply flex-row;
}
